# === Archivos y carpetas de sistema ===
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# === Configuración de IDEs ===
.vscode/
.idea/
*.iml
*.swp

# === Node.js / Angular ====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.tmp/
.angular/           # cache de Angular CLI
.angular/cache/     # (por si ya está creada)
# si tu frontend vive en subcarpeta:
frontend/.angular/
frontend/dist/
frontend/node_modules/

# === Java / Spring Boot ===
target/
out/
*.class
*.jar
*.war
*.ear

# === Logs y temporales ===
*.log
*.pid
*.seed
*.pid.lock
*.tmp

# === Entornos virtuales Python (si usas) ===
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# === Docker ===
/docker-compose.override.yml
/.docker/
*.env

# === Cobertura y testing ===
coverage/
.nyc_output/
.junit/
.test/
.jest/

# === SonarQube ===
.sonar/
.scannerwork/

# === Archivos de bases de datos locales ===
*.db
*.sqlite
*.sql
# allow SQL migrations
!**/src/main/resources/db/migration/*.sql
